<div class="navbar">
	<nav id="menu">
    <link rel="stylesheet" href="main.css">
			<ul class="links">
				<div class="logo"><a href="/" class="logo">Blog de Rodrigo Harispe</span></a></div>
				<a href="/"class="home"><h1>Home</h1></a>
				<a href="/mystory" class="story"><h1>My Story</h1></a>
				<a href="/mytastes" class="tastes"><h1>My Tastes</h1></a>
			</ul>
	</nav>
</div>	